<style type="text/css">
  html{
    overflow-y: hidden;
    overflow-x: hidden;
  }
</style>
<div class="container pointerall">
  <div id="loginpage">
    <div class="card card-login" style="float: center; margin-top: 10%;">
      <div class="text-center card-header header-color">Reset Password</div>
      <div class="card-body shadow-lg p-4 mb-5 bg-white rounded">
        <div class="text-center mb-4">
          <h4>Forgot your password?</h4>
          <p>Enter your email address and Create New password.</p>
        </div>
        <form autocomplete="off">
          <div class="form-group">
            <div class="form-label-group">
              <input type="email" ng-model="emails" id="inputEmail" class="form-control" placeholder="Enter email address" required="required" autofocus="autofocus">
              <label for="inputEmail">Enter email address</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="password" ng-model="password" autocomplete="off" id="password"   class="form-control" placeholder="Enter email address" required="required" autofocus="autofocus">
              <label for="inputpassword">Create New Password</label>
            </div>
          </div>
          <input class="btn btn-primary btn-block header-color text-dark" type="submit"  ng-click="getpass()" value="Reset Password">
        </form>
        <div class="text-center">
          <a class="d-block small" href="/crm">Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container">
  <div class='canvas'>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
    <div class='bubble'></div>
  </div>
</div> -->
</body>